:root{
    --primary-font::rgb(45, 79, 231):
    
}


.rock{

   

   background-color:rgb(45, 79, 231);
    

}

body{
   
    background-color:rgb(45, 79, 231); 
    font-style: italic;
}


  
.Text{
    
    text-align-last: center;
   
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    
}
    
